In [1]:
s="Hello World"

In [2]:
s

'Hello World'

In [3]:
#Show the first element of the string
s[0]

'H'

In [4]:
s[6]

'W'

In [6]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [7]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [9]:
#Everything
s[:]

'Hello World'

In [10]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [11]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [12]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [13]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [14]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [15]:
s="Hello World"

In [16]:
s

'Hello World'

In [17]:
s[0]='y'

TypeError: 'str' object does not support item assignment

In [18]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [19]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [20]:
print(s)

Hello World concatenate me!

In [21]:
#We can use the multiplication symbol to create repetition!
letter = 'x'
letter*10

'xxxxxxxxxx'

In [22]:
s="I love cricket"

In [24]:
#lower case
s.lower()

'i love cricket'

In [25]:
#upper case
s.upper()

'I LOVE CRICKET'

In [28]:
# Split a string by blank space (this is the default)
s.split()

['I', 'love', 'cricket']

In [29]:
# Split by a specific element (doesn't include the element that was split on)
s.split('l')

['I ', 'ove cricket']

In [30]:
# returns True
s.startswith('I')

True

In [31]:
# returns True
s.endswith('you')

False

In [ ]:
s.find('like') # returns index of first occurrence (2), but doesn't support regex
s.find('hate') # returns -1 since not found
s.replace('like','love') # replaces all instances of 'like' with 'love'

In [ ]:
# split a string into a list of substrings separated by a delimiter
s.split(' ') # returns ['I','like','you']
s.split() # same thing
s2 = 'a, an, the'
s2.split(',') # returns ['a',' an',' the']

In [ ]:
# join a list of strings into one string using a delimiter
stooges = ['larry','curly','moe']
' '.join(stooges) # returns 'larry curly moe'

In [ ]:
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4 # returns 'The meaning of life is 42'
s3 + ' ' + str(42) # same thing

In [32]:
# remove whitespace from start and end of a string
s5 = ' ham and cheese '
s5.strip() # returns 'ham and cheese'

'ham and cheese'

In [33]:
# string substitutions: all of these return 'raining cats and dogs'
'raining %s and %s' % ('cats','dogs') # old way
'raining {} and {}'.format('cats','dogs') # new way
'raining {arg1} and {arg2}'.format(arg1='cats',arg2='dogs') # named arguments

'raining cats and dogs'

In [34]:
# string formatting
# more examples: http://mkaz.com/2012/10/10/python-string-format/
'pi is {:.2f}'.format(3.14159) # returns 'pi is 3.14'

'pi is 3.14'